name: Terraform Provider Build CI

on:
  push:
    branches:
      - main

  pull_request:
    types: [opened, synchronize, reopened, labeled]

  workflow_dispatch:
    inputs:
      dryRun:
        description: 'Dry-Run'
        default: 'true'
        required: false

env:
  DEFAULT_BRANCH: main

jobs:
  commit-lint:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.event.action != 'labeled'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Validate commit message
        run: |
          pattern='^(feat|fix|docs|perf|revert|chore|refactor|test|build|ci)(\([a-z0-9-]+\))?!?: .{1,}'
          commit_sha="${{ github.event.pull_request.head.sha }}"
          commit_message=$(git log --format=%B -n 1 $commit_sha | head -n 1)

          if ! echo "$commit_message" | grep -qE "$pattern"; then
            echo "Invalid commit message format!"
            exit 1
          fi

  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
      - run: go mod download
      - run: go build -v .
      - name: Run linters
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest

  unit-tests:
    name: Unit Tests
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
      - run: go mod download
      - run: go test -v -cover ./...

  acceptance-tests:
    name: Acceptance Tests
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    timeout-minutes: 120
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
      - uses: hashicorp/setup-terraform@v3
      - run: sudo apt-get update && sudo apt-get install -y openssl
      - run: go mod download
      - name: Run acceptance tests
        env:
          TF_ACC: "1"
          IBM_CLOUD_API_KEY: ${{ secrets.IBM_CLOUD_API_KEY }}
        run: go test -v -timeout=120m ./...

  release:
    name: Semantic Release
    needs: [build, unit-tests]
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'
    permissions:
      contents: write
      issues: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npx semantic-release
